.section-productsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.section-productsList h2 {
  line-height: 1.1;
  color: #514b4c;
  text-align: left;
}
.productsList-container {
  display: grid;
  gap: 1em;
}

@media (min-width: 768px) {
  .productsList-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .productsList-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
