#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: hsl(217, 19%, 24%);
  border-radius: 16px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 45%;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
  min-height: 340px;
}

.container-title-divider {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 83%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.title-small {
  color: hsl(150, 100%, 66%);
  letter-spacing: 5px;
  font-size: 14px;
}
.title-quote {
  font-size: 28px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.button-dice {
  width: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: hsl(150, 100%, 66%);
  border-radius: 100%;
  padding: 2rem;
  border: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.button-dice:hover {
  box-shadow: 0 0 10px hsl(150, 100%, 66%), 0 0 7px hsl(150, 100%, 66%),
    0 0 30px hsl(150, 100%, 66%);
  transform: translateX(-50%) scale(1.1);
}

.button-dice:disabled {
  background: hsl(150, 100%, 66%, 0.5);
  cursor: not-allowed;
}
.svg-divider {
  display: none;
}

@media (max-width: 768px) {
  .container {
    min-height: 300px;
    width: 100%;
  }
  .container-title-divider {
    gap: 1rem;
    width: 100%;
  }
  .title-quote {
    font-size: 24px;
    width: 100%;
  }
  .title-small {
    font-size: 10px;
  }
  .svg-divider-desktop {
    display: none;
  }
  .svg-divider {
    display: block;
  }
}
