#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.advice {
  background: hsl(217, 19%, 24%);
  border-radius: 16px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
  min-height: 340px;
}

.advice__id {
  color: hsl(150, 100%, 66%);
  letter-spacing: 5px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .advice {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .advice {
    min-height: 300px;
    width: 100%;
  }
  .advice__id {
    font-size: 10px;
  }
}
